
:root{
    font-size: 25px;
}

p:empty{
    background-color: red;
    width: 200px;
    height: 200px;
}

.container :first-child{
    font-weight: bold;
    color: blue;
}

.container :last-child{
    font-weight: bold;
    color: green;
}